body {
    background: rgb(203, 200, 200);
    margin: 0;
    padding: 0;
    top: 0;

}

h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;

}

.general-container {
    margin: 2% 27%;
    width: 45vw;
    height: 120vh;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background: #f2f2f2;
    align-items: center;
    justify-content: center;
    

}

.signup-container {
    align-items: center;
    justify-content: center;
    padding: 10px 20px;

}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 10px;

}

input[type=text], 
input[type=email], 
input[type=tel], 
input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    border-color: grey;
    box-sizing: border-box;

}

input:focus {
    outline: none;
    box-shadow: 0 0 8px 2px rgba(0, 123, 255, 0.6);

}

#divider {
    border-top: 1px solid #000000;
    text-align: center;
    margin: 10px 0;

}

#divider::after {
    content: "OR";
    position: relative;
    top: -10px;         
    background: #f2f2f2;  
    padding: 0 10px;    
    font-weight: bold;
    color: #000000;

}

#signup-par {
    text-align: center;
    font-size: 1.1rem;

}

#signup-btn, #login-btn{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    width: 50%;
    padding: 15px 10px;
    margin: 5px 120px;
    background-color: #4a5df9;
    border: none;
    border-radius: 30px;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
    
}



